In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
a=pd.read_excel("data23.xlsx")

In [3]:
a

    observation  feature   price
0          0.44     0.68  511.14
1          0.99     0.23  717.10
2          0.84     0.29  607.91
3          0.28     0.45  270.40
4          0.07     0.83  289.88
..          ...      ...     ...
95         0.99     0.13  636.22
96         0.28     0.46  272.12
97         0.87     0.36  696.65
98         0.23     0.87  434.53
99         0.77     0.36  593.86

[100 rows x 3 columns]

In [5]:
a.drop_duplicates()

    observation  feature   price
0          0.44     0.68  511.14
1          0.99     0.23  717.10
2          0.84     0.29  607.91
3          0.28     0.45  270.40
4          0.07     0.83  289.88
..          ...      ...     ...
95         0.99     0.13  636.22
96         0.28     0.46  272.12
97         0.87     0.36  696.65
98         0.23     0.87  434.53
99         0.77     0.36  593.86

[100 rows x 3 columns]

In [8]:
x=a.iloc[:,:-1]
y=a.iloc[:,-1]
x.head()

   observation  feature
0         0.44     0.68
1         0.99     0.23
2         0.84     0.29
3         0.28     0.45
4         0.07     0.83

In [9]:
y.head()

0    511.14
1    717.10
2    607.91
3    270.40
4    289.88
Name: price, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [14]:
polynom=PolynomialFeatures(degree=3)
x_train=polynom.fit_transform(x_train)
x_test=polynom.fit_transform(x_test)

In [15]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [19]:
y_preds=model.predict(x_test)
y_pred=y_preds.tolist()
y_test=y_test.tolist()

for i in range(len(y_pred)):
    print(f"{round(y_pred[i],2)}==>{y_test[i]}")

720.75==>719.46
694.5==>702.78
34.0==>98.47
1316.25==>1193.7
673.25==>671.46
1869.25==>1449.05
1028.75==>1046.05
786.5==>784.74
176.5==>177.03
510.25==>511.14
920.75==>932.21
338.25==>341.2
508.25==>483.13
903.75==>895.54
661.75==>661.12
368.75==>289.88
950.0==>957.61
515.75==>518.29
884.0==>891.37
1161.75==>1194.63

In [20]:
model.coef_

array([ 1.30528276e+15,  8.71709206e+13,  8.29608244e+13,  3.25561083e+13,
        2.74399707e+13,  1.98798216e+13, -6.37531230e+12,  6.53013969e+13,
       -1.59294370e+13,  1.08438869e+12,  2.05226981e+13,  1.31496631e+12,
       -2.66768905e+13, -1.42560385e+13, -2.57754582e+12, -1.25861625e+13,
        3.73829389e+12, -1.07082205e+13,  3.36795279e+12,  3.60385934e+11,
       -4.67965303e+12, -8.86936948e+12, -2.89260861e+12, -1.27654880e+13,
        2.80570589e+12,  3.75321855e+11, -4.39726451e+12,  5.22698535e+12,
       -4.23118028e+12,  7.14822816e+11,  9.62293879e+11, -3.60200259e+11,
       -1.08951032e+12, -3.96492430e+12,  1.33247959e+11,  7.08032585e+12,
        7.15229036e+12,  4.03598881e+12,  6.27802446e+12, -8.47954833e+12,
        1.44281356e+12, -3.09866509e+12,  3.96108184e+12, -6.22005206e+12,
       -5.31610330e+12, -3.95063904e+12, -1.29229289e+13, -1.29195886e+13,
        6.14678969e+12,  5.80104692e+12,  6.42084322e+12, -6.06317150e+12,
       -7.14097941e+11, -1.79588691e+12, -6.14175221e+12,  9.12005986e+11,
       -4.58007650e+12, -1.63608668e+12, -8.18912640e+12,  3.69313538e+11,
        1.05831722e+13, -2.78560498e+12,  3.59063898e+11, -7.27680767e+11,
        4.32069651e+12,  4.04313631e+12, -4.68750000e-02, -5.62839339e+13,
       -1.83000698e+13, -7.99652769e+12, -2.20052522e+12,  8.37362281e+11,
       -1.39425629e+13,  3.44820393e+12,  1.18349744e+11, -3.95937371e+12,
       -7.99652769e+12, -2.20052522e+12, -1.39425629e+13,  3.44820393e+12,
        1.18349744e+11, -4.08073115e+12,  4.47293169e+12, -4.18758894e+12,
        5.78341179e+11,  8.37362281e+11, -2.28633805e+11, -1.08563557e+12,
       -3.95937371e+12,  1.39684175e+11,  7.06638312e+12,  7.15008648e+12,
        4.04512533e+12,  6.28070270e+12, -8.48003895e+12,  1.44283417e+12,
       -3.10015294e+12,  3.96124166e+12, -6.21981515e+12, -5.31563083e+12,
       -3.95060454e+12, -1.29228026e+13, -1.29196178e+13,  6.14694972e+12,
        5.80125237e+12,  6.42082742e+12, -6.06306652e+12, -7.14018438e+11,
       -1.79592856e+12, -6.14169415e+12,  9.11991799e+11, -4.58007650e+12,
       -1.63608668e+12, -8.18912640e+12,  3.69313538e+11,  1.05831722e+13,
       -2.78560498e+12,  3.59063898e+11, -7.27680767e+11,  4.32069651e+12,
        4.04313631e+12, -1.39425629e+13,  3.44820393e+12, -4.08073115e+12,
        4.47293169e+12, -4.18758894e+12,  5.15441564e+12,  1.37468292e+13,
       -2.90221402e+12,  4.39179464e+12,  1.18349744e+11,  2.51380832e+12,
        3.64175438e+12,  5.78341179e+11,  4.29911924e+12,  9.38309295e+12,
        8.07655853e+12,  7.50056661e+12,  1.04440200e+12,  6.40614001e+12,
       -1.15989127e+12,  3.62000448e+11,  7.54723638e+12, -2.69864114e+12,
        1.04313318e+13, -4.01385004e+11, -7.90668729e+12,  2.45460732e+12,
        4.45322179e+12, -1.88215926e+12,  7.09529587e+12,  3.45346884e+12,
        3.37860108e+12, -3.39918017e+12,  5.81225677e+12,  2.66569162e+12,
       -9.79481484e+12,  2.94248189e+12, -1.10371779e+13, -2.66030867e+12,
        6.13283536e+12,  1.39658047e+12,  4.10790102e+12, -2.33195686e+12,
        1.79863315e+13,  1.49947211e+13, -3.95937371e+12, -1.66507759e+11,
        9.67185000e+12,  4.04512533e+12,  6.27556744e+11,  1.13898091e+13,
       -4.96623296e+11,  3.88416561e+12, -6.53520830e+12, -3.97292054e+12,
       -1.63897122e+13, -5.01011124e+12, -1.71484415e+12, -5.81848382e+12,
        1.30665003e+12,  3.05948592e+12, -1.10156380e+13, -6.21703396e+12,
        7.58232633e+12,  4.63449469e+12,  4.37259479e+12, -5.70816691e+12,
       -1.72647166e+11,  1.79380167e+12, -4.09556159e+12, -6.25042413e+11,
       -2.19333050e+12,  5.15616344e+11, -1.17164780e+13, -4.85066618e+12,
        5.35596415e+12,  6.58195476e+11,  6.75679937e+12, -2.65081484e+12,
        4.48629900e+12,  5.02506178e+12,  8.79815300e+12, -1.71955787e+12,
       -2.64552708e+12,  9.79481434e+12,  1.14028845e+12, -7.98425249e+11,
       -4.04172415e+11,  6.56140147e+11, -1.47095554e+12, -1.88943857e+12,
        6.62812683e+12, -2.53445490e+12, -6.14852152e+11, -8.88477478e+12,
       -4.55671873e+11, -5.97941920e+12,  5.28844502e+12, -9.32799214e+12,
        3.66907016e+05, -8.63817394e+12, -5.97613714e+12, -3.63261459e+12,
        9.43252413e+12,  2.35681407e+12, -3.96148179e+11,  3.95472718e+12,
        7.68856127e+11, -2.79345052e+12, -4.37643790e+11, -1.10204898e+13,
       -9.85309881e+11,  1.92981631e+12, -1.88550911e+12,  1.96048037e+12,
       -1.15841142e+13,  1.46124654e+13, -2.48038458e+12,  5.00164260e+12,
       -1.67206209e+13,  8.63817230e+12,  4.97622607e+11, -3.60713623e+12,
       -9.27412484e+12,  8.51956303e+12,  2.69569961e+12,  2.13611878e+12,
       -3.90417572e+12,  8.37505837e+12, -6.93975722e+11, -7.46122533e+12,
        2.10882477e+12, -1.97264471e+13, -2.76040374e+12, -5.02506571e+12,
       -3.95400718e+12, -3.63662261e+12, -6.49742974e+12,  7.44337275e+11,
        9.51727881e+12,  2.54863585e+11,  7.48055460e+12, -1.30621619e+13,
        6.93978326e+11,  1.70939870e+06, -1.06383938e+05,  5.18160641e+05,
       -4.26321550e+12, -4.16042715e+12,  4.26321520e+12, -2.02150966e+12,
        4.44954972e+12, -4.17668575e+12, -4.07194276e+12, -6.52440854e+11,
        6.18193603e+12, -2.72864654e+11,  5.20743406e+12, -1.13549181e+12,
        6.50280649e+12,  4.51439970e+12, -5.85036533e+12, -4.51440007e+12,
       -5.63890062e+05, -3.14232531e+05])